<br />

<form asp-action="ImportFromExcel" asp-controller="Report" method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="form-group">

            <div class="input-group mb-3">
                <input type="file" class="form-control" name="theExcel" id="theExcel">
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Upload Data" class="btn btn-primary" />
        </div>
    </div>
</form>