@{
    ViewData["Title"] = "Home Page";
}

<h1>About</h1>
<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
<body>
       <div>
            <p>This responsive web application is made by a team of five students at Niagara College to satisfy the requirements of PROG1440 Community Sponsored Project</p>
            <p>
                It aims to modernize how the Welland Minor Baseball Association scores, tracks, reports, and analyzes house league baseball activities.
            </p>
       <p></p>
            <p>Students:</p>
            <p>Leo Williston</p>
            <p>Teslim Ogunlola</p>
            <p>George Tatulea</p>
            <p>Michael Dionne</p>
            <p>Donave Carmichael</p>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../wwwroot/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/44b9581dbb.js" crossorigin="anonymous"></script>
</body>


