@model WMBA_7_2_.ViewModels.UserVM

@{
    ViewBag.Title = "Edit Roles";
}

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>


<h2>Edit Role Assignments</h2>
<a href="/" class="btn btn-danger mb-2 mr-2" style="margin-left: 5px;">Back to Home</a>


<form asp-action="Edit">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly="readonly"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserRoles" class="control-label"></label>
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<WMBA_7_2_.ViewModels.RoleVM> roles = ViewBag.Roles;
                            foreach (var role in roles)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedRoles"
                                           value="@role.RoleName"
                                           @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                    @role.RoleName @:&nbsp;&nbsp;
                                @:</td>
                            }
                        @:</tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

   
