.column-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    min-height: 100vh;
    justify-items: center; 
    align-items: center; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}


.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    @media (max-width: 768px) {/*Got rid of column, column-container styling since it was interfering with button position.*/

        .custom-btn {
            margin-bottom: 30px; 
        }


    }
}