

.top-bar {
    background-color: #15244A;
    width: auto;
    height: 50px;
    color: #ffffff;
    row-gap: 0;
    text-align: left;
    line-height: 50px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
}

.navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.navbar-brand {
    padding: 5px 10px;
}

    .navbar-brand img {
        max-height: 100px;
        width: auto;
    }

.navbar-toggler {
    font-size: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #15244A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

    .custom-btn:hover {
        background-color: #15244A;
    }

.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    flex: 1;
}

.form-group{
    margin-bottom: 1rem;
}

.form-group.required .control-label:before {
    content: "*";
    color: red;
}


.footer {
    background-color: #15244A;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.navbar-nav-desktop {
    list-style-type: none;
    padding-left: 0;
}

.navbar-toggler {
    display: none;
}

.navbar-nav-desktop {
    display: none;
}

.nav-link-spacing { /*Spacing for navbar desktop links*/
    padding-left: 10px;
    padding-right: 10px;
    font: bold;
}

.nav-link-spacing:hover,
.nav-link-spacing:focus {
    text-shadow: 0.5px 0 currentColor, -0.5px 0 currentColor, 0 0.5px currentColor, 0 -0.5px currentColor; /* Simulate boldness */
    }

/*#carouselBaseball {
    width: 100%
}*/

/*.carousel-item {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}*/

.carousel-item.active {
    opacity: 1;
}

#carouselBaseball .carousel-control-prev-icon,
#carouselBaseball .carousel-control-next-icon {
    font-size: 24px;
    font-weight: bold;
    content: '';
}

@media (min-width: 769px) {
/*    .carousel-item {
        max-width: 1200px; 
        min-width: 600px; 
    }

        .carousel-item img {
            height: 400px;
            width: 500px;
            object-fit: cover;
            width: 100%;
        }*/

    .navbar-nav-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .desktop-btn {
        display: inline-block;
        margin: 5px;
        width: auto;
        margin-bottom: 0;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 768px) {
/*    .carousel-item {
        max-width: 600px; 
        min-width: 300px; 
    }

        .carousel-item img {
            height: 200px;
            width: 250px;
            object-fit: cover;
            width: 100%;
        }*/

    .navbar-toggler {
        display: flex;
    }

    .navbar-nav-desktop {
        display: none;
    }
}

.rules {
    color: #15244A;
    font: bold;
}

.ruleSection {
    color: #15244A;
}

.btn btn-primary {
    color: white;
    background-color: #15244A;
}

#ruleDescription {
    display: flex; 
    justify-content: center; 
    text-align: left; 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
}

#inningNumber{
    padding: 1%;
}

#outNumber{
    padding: 1%;
}

#inningDiv {
    font-weight: 900;
    font-size: 250%
}

#outDiv {
    font-weight: 900;
    font-size: 250%;
}

#gameOverMessageDisplay {
    font-weight: 900;
    font-size: 250%;
}

#clock {
    font-weight: 900;
    font-size: 250%;
}