<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Scorekeeping</title>
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	<link href="~/css/scorekeeping.css" rel="stylesheet" />
    <style>
        .svg-container {
            max-width: 100%;
            height: auto;
            padding: 10px;
        }

        svg {
            width: 100%;
            height: auto;
        }

        text{
             color=white;
        }
    </style>
</head>
<body>
@*     Inning count, out count, teams playing based on game here displayed here *@


        <div class="container">

        
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center" id="gameOverMessageDiv">
                    <span id="gameOverMessageDisplay">Game On!</span>
                </div>
                <div class="col d-flex align-items-center justify-content-center" id="clockDiv">
                    <span><p id="clock"></p></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center" id="timerDisplay">
                <span id="timerDisplay"></span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center" id="inningDiv">
                <span id="inningTopOrBottom">Top of</span> &nbsp;Inning: <span id="inningNumber">1</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center" id="outDiv">
                Out: <span id="outNumber">0</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button id="ballNumberButton" class="custom-btn">Ball: <span id="ballCount">0</span></button>
            </div>
            <div class="col">
                <button id="strikeNumberButton" class="custom-btn">Strike: <span id="strikeCount">0</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center" id="inningDiv">
                <span id="teamsPlaying">Select a game...</span>
            </div>
        </div>
        <div id="score">Home Score: 0</div>
        <button id="undo-button" class="btn btn-danger">Undo</button>
    </div>

    <div class="svg-container">

        <svg width="400px" height="400px" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
            <!-- Grass background Added comments to make this more clear -Michael -->
            <rect id="grass" width="100%" height="100%" fill="green" />

            <!-- Baseball diamond -->
            <polygon id="diamond" points="100,200 200,100 300,200 200,300" fill="sandybrown" />

            <!-- Bases -->
            <circle id="first-base" cx="300" cy="200" r="15" fill="grey" />
            <circle id="second-base" cx="200" cy="100" r="15" fill="grey" />
            <circle id="third-base" cx="100" cy="200" r="15" fill="grey" />
            <circle id="home-plate" cx="200" cy="300" r="15" fill="grey" />

            <!-- Player positions -->
            <circle id="catcher" cx="200" cy="300" r="10" fill="white" />
            <circle id="first-base-player" cx="300" cy="200" r="10" fill="white" />
            <circle id="second-base-player" cx="200" cy="100" r="10" fill="white" />
            <circle id="third-base-player" cx="100" cy="200" r="10" fill="white" />
            @* <circle id="pitcher" cx="200" cy="200" r="10" fill="white" />
            <circle id="shortstop" cx="150" cy="150" r="10" fill="white" />
            <circle id="left-field" cx="50" cy="100" r="10" fill="white" />
            <circle id="center-field" cx="200" cy="50" r="10" fill="white" />
            <circle id="right-field" cx="350" cy="100" r="10" fill="white" /> *@

            <!-- Position labels -->
            <text id="label-catcher" x="200" y="330" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">C</text>
            <text id="label-second-base" x="245" y="135" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">2B</text>
            <text id="label-third-base" x="105" y="180" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">3B</text>
            <text id="label-first-base" x="290" y="180" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">1B</text>
            <text id="label-pitcher" x="200" y="180" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">P</text>
            <text id="label-shortstop" x="155" y="135" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">SS</text>
            <text id="label-left-field" x="50" y="90" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">LF</text>
            <text id="label-center-field" x="200" y="40" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">CF</text>
            <text id="label-right-field" x="350" y="90" text-anchor="middle" font-family="Verdana" fill="white" font-size="14">RF</text>

            <image id="baseball-image" xlink:href="/images/baseball.png" x="185" y="225" height="30px" width="30px" />
        </svg>
    </div>

@*     Games and Lineup menus *@
    <div class="container">
        <div class="row">
            <div class="col">
                <label for="team2Dropdown">Lineup:</label>
                <select id="team2Dropdown" class="form-control">
                    <option value="0" selected>Your lineup...</option>
                    <option value="1">Player X</option>
                    <option value="2">Player Y</option>
                    <option value="3">Player Z</option>
                </select>
            </div>
        </div>
    </div>

    <div id="popup-menu">
        <ul>
            <li >Player Options >
                <ul class="submenu">
                    <li id="single">Single</li>
                    <li id="double">Double</li>
                    <li id="triple">Triple</li>
                    <li id="homerun">HomeRun</li>
                    <li id="advance-player">Advance Player</li>
                    <li id="stolen-base">Stolen Base</li>
                    <li id="runs-batted-in">Runs Batted In</li>
                    <li id="base-on-balls">Base on Balls</li>
                </ul>
            </li>
            <li >Out Options >
                <ul class="submenu">
                    <li id="groundout">Groundout</li>
                    <li id="flyout">Flyout</li>
                    <li id="popout">Popout</li>
                    <li id="player-out">Player Out</li>
                </ul>
            </li>
            <li>Pitch Options > 
                <ul class="submenu">
                    <li id="foulball">Foul ball</li>
                    <li id="hitByPitch">Hit by pitch</li>
                    <li id="sacrifice">Sacrifice</li>

                </ul>
            </li>
        </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="~/js/scorekeeping.js"></script>

     @{
        var gameId = ViewData["GameId"];
    }

    <script type="text/javascript">
        var gameId = @gameId;
    </script>  

</body>
</html>

